.coffee-machine {
 
  border :2px solid black;
  margin-top: 75px;
}

.coffee-list {
 background: red;
 background-size: cover;
 
}

.coffee-item {
 background: rgba(0, 0, 0, 0.7); 
 margin: 15px 0;
 border-radius: calc( 75px ,2);
 cursor:pointer;
}

.coffee-item:hover {
 background: rgba(50, 50, 50, 0.7);  
}

.coffee-item img {
  width: 75px;
  height : 75px;
  background: white;
  
  border-radius: 50%; 
 } 
  
 .coffee-item span {
   color : white;
   margin-left: 15px;
   
 } 
 
 .displey {
  background: red;
  border:2px solid red; 
  padding: 15px;
 }

.coffee-cup img{
  width:100%;
  opacity:0;
  } 
 
 .atm img {
 width:100%;  
 } 

.change-box {
 
 background: grey;
 height : 100px;
}

.coffee-oper{
 background: lightgrey; 
 }
  
  .bills {
   margin-left:10%; 
  }
  
 .bills img {
   width: 20%;
  margin-left:20px; 
 } 